body , html{
    background: linear-gradient(to left , #09addf , #c40dca);
    font-family:Arial, Helvetica, sans-serif;
}
.container{
text-align: center;
color: antiquewhite;
}
h1{
    font-size: 60px;
    padding: 0px;
}
img{
    margin-top: -125px;
}
.botoes{
    margin-top: -200px;
    text-align: center;
}